{% extends 'base.html' %}

{% block title %}
    <h1>Welcome {{ user.username }}</h1>
{% endblock title %}

{% block content %}
    <img src="{{ user.profile_picture.url }}" alt="Foto de perfil" width="150" height="150">

    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}

        <div>
            <label for="profile_picture">Editar foto de perfil:</label>
            <input type="file" id="profile_picture" name="profile_picture">
        </div>

        <div>
            <label for="full_name">Nome:</label>
            <input type="text" id="full_name" name="full_name" value="{{ user.get_full_name }}">
        </div>

        <div>
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" value="{{ user.email }}">
        </div>

        <div>
            <label for="bio">Bio:</label>
            <textarea id="bio" name="bio">{{ user.bio }}</textarea>
        </div>

        <div>
            <label for="role_name">Role:</label>
            <input type="text" id="role_name" name="role_name" value="{{ user.role.name }}">
        </div>

        <div>
            <label for="role_seniority">Seniority:</label>
            <select id="role_seniority" name="role_seniority">
                <option value="" {% if not user.role %}selected{% endif %}>Selecione</option>
                <option value="Junior" {% if user.role and user.role.seniority == 'Junior' %}selected{% endif %}>Junior</option>
                <option value="Mid-level" {% if user.role and user.role.seniority == 'Mid-level' %}selected{% endif %}>Mid-level</option>
                <option value="Senior" {% if user.role and user.role.seniority == 'Senior' %}selected{% endif %}>Senior</option>
                <option value="Lead" {% if user.role and user.role.seniority == 'Lead' %}selected{% endif %}>Lead</option>
            </select>
        </div>

        <div>
            <label for="linkedin_url">LinkedIn:</label>
            <input type="url" id="linkedin_url" name="linkedin_url" value="{{ user.linkedin_url }}">
        </div>

        <div>
            <label for="github_url">GitHub:</label>
            <input type="url" id="github_url" name="github_url" value="{{ user.github_url }}">
        </div>

        <button type="submit">Salvar alterações</button>
    </form>
{% endblock content %}
