{% extends 'base.html' %}

{% block title %}
Todos os livros
{% endblock title %}

{% block content %}
<div class="container">
    {% for book in books %}
    <div class="book-card">
        <h2>
            <a href="/books/{{ book.id }}" class="book-link">{{ book.id }} - {{ book.title }}</a>
        </h2>

        <div class="book-content">
            <img src="{{ book.cover_image.url }}" alt="{{ book.title }}" class="book-image">
            <div class="book-info">
                <p class="author">Author: {{ book.author }}</p>
                <p class="publication-date">Publication Date: {{ book.publication_date }}</p>
                <p class="categories">Categories:
                    {% for category in book.categories.all %}
                        {{ category.name }}{% if not forloop.last %}, {% endif %}
                    {% endfor %}
                </p>
                <button class="synopsis-toggle" onclick="toggleSynopsis({{ book.id }})">Show Synopsis</button>
                <p id="synopsis-{{ book.id }}" class="synopsis hidden">{{ book.synopsis }}</p>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
<script>
    function toggleSynopsis(bookId) {
        const synopsis = document.getElementById(`synopsis-${bookId}`);
        synopsis.classList.toggle("hidden");
    }
</script>
{% endblock content %}